@use "abstracts/abstracts" as *;
@use "base/base";
@use "layout/layout";
@use "components/components";
@use "pages/pages";
@use "themes/themes";
@use "vendors/vendors";


body {
  margin-left: 160px;
  background-color: $color-fondo;
  // background-image: url(../img/woman.png);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}