@use "../abstracts/abstracts" as *;


section.hero {

    h1 {
        color: $blue;
        max-width: 809px;
        font-weight: 800;
        font-size: 60px;
        margin-bottom: 32px;
    }

    p {
        color: $grey;
        font-size: 20px;
        max-width: 760px;
        margin-bottom: 56px;
    }

    &__content {
        display: grid;
        la;
    }

    .hero__button ul {
        display: flex;
        align-items: center;
        
        li:first-child a {
            @include boton-azul;
        }
    }
}